<!DOCTYPE html>
<html>
  <head>
    <title>TradInspect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="has-navbar-fixed-top">
  </body>
</html>
